@import url('./normalize.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PingFang SC', sans-serif;
}

.text-center {
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
}